body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #269069;
}

html {
  height: 100%;
}

canvas {
  opacity: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}